[submodule "tree-sitter-c"]
	path = tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c.git
[submodule "vendor/tree-sitter-c"]
	path = vendor/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c.git
